DJANGO_ALLOWED_HOSTS=dechapper.greenfield.yanoa.be,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://dechapper.greenfield.yanoa.be
DB_NAME=dechapper
DB_USER=dechapper_app

# Keep false until SMTP and Turnstile have been configured and tested.
CONTACT_FORM_ENABLED=false
TURNSTILE_REQUIRED=true
TURNSTILE_SITE_KEY=
TURNSTILE_EXPECTED_HOSTNAMES=dechapper.greenfield.yanoa.be,dechapper.be,www.dechapper.be
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_USE_SSL=true
DEFAULT_FROM_EMAIL=De Chapper <info@dechapper.be>
CONTACT_RECIPIENTS=info@dechapper.be
CONTACT_BCC=
